
config MTK_BMI160_GYRO
        bool "bmi160_gyro for MediaTek package"
        default n
        help
        It support different gyroscope sensor.
        If this option is set,
	  	it will support
         ITG1010 gyroscope.

